@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(163, 200, 231)
}

.container{
    width: 250px;
    height: 400px;
    margin: 100px auto 20px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 20px 2px hsla(200, 4%, 29%, 0.25);
    border-radius: 15px;
}

.elements{
    width: 230px;
    margin: auto;
    text-align: center;
}

.elements img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.elements h1{
    font-size: 18px;
    font-family: "Outfit";
    color: hsl(218, 44%, 22%);
}

.elements p{
    font-size: 13px;
    font-family: "Outfit";
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

#author{
    font-family: sans-serif;
    font-size: 10px;
    color:hsl(220, 15%, 55%);
    text-align: center;
}

#author a{
    color: hsl(218, 44%, 22%);
}
